.sessionBox
  .title
    ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .sessionBox__email
      = f.label :"メールアドレス", class: "sessionBox__email__label"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "sessionBox__email__text"
    .sessionBox__password
      = f.label :"パスワード", class: "sessionBox__password__label"
      %br/
      = f.password_field :password, autocomplete: "current-passwod", placeholder: "6文字以上", class: "sessionBox__password__text"
    .sessionBox__submit
      = f.submit "ログイン", class: "sessionBox__submit__btn"