.leftBox
  .leftContents
    .prefecturesBox
      .prefectures
        = image_tag("japanMap.png", class:"prefectures")
        .hokkaidos
          = link_to "北海道", prefectures_hokkaidos_path
        .tohokus
          = link_to "東北", prefectures_tohokus_path
        .kantos
          = link_to "関東", prefectures_kantos_path
        .chubus
          = link_to "中部", prefectures_chubus_index_path
        .kinkis
          = link_to "近畿", prefectures_kinkis_path
        .chugokus
          = link_to "中国", prefectures_chugokus_path
        .shikokus
          = link_to "四国", prefectures_shikokus_path
        .kyushus
          = link_to "九州", prefectures_kyushus_path
        .okinawas
          = link_to "沖縄", prefectures_okinawas_path



    .placeName
      = form_with(url: search_posts_path, method: :get, local: true, class: "placeName__search") do |f|
        = f.text_field :keyword, class: "placeName__search__textbox", placeholder: "検索したいワードを入力"
        = f.submit "検索", class: "placeName__search__btn"
